.img-local {
    border: 5px solid blue;
    margin-bottom: 8px;
    border-radius: 6px;
}

.btn-invite {
    border-radius: 12px;
    background-color: #08456e;
    color: white;
    float: center;
    margin-bottom: -50px;
    position: relative;
    top: -35px;
    width: 200px;
}

.btn-invite:hover {
    transform: scale(1.2);
    color: white;
    font-weight: bold;
}